<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <%- include('../components/header') %>
        <main>
            <div class="card">
                <h2 class="mb-3"><%= title %></h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Book ID</th>
                            <th>Book Title</th>
                            <th>Author</th>
                            <th>Borrow Date</th>
                            <th>Return Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% borrowings.forEach(borrowing => { %>
                            <tr>
                                <td>#<%= borrowing.book_instance_id %></td>
                                <td><%= borrowing.book_title %></td>
                                <td><%= borrowing.book_author %></td>
                                <td><%= borrowing.borrow_date %></td>
                                <td><%= borrowing.return_date || '-' %></td>
                                <td>
                                    <% if (!borrowing.return_date) { %>
                                        <form action="/borrowings/<%= borrowing.id %>/return" method="POST">
                                            <button type="submit" class="btn btn-primary">Return</button>
                                        </form>
                                    <% } %>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
            <div class="card mb-3">
                <h2 class="mb-3"> Monthly Borrowing Data (Last 12 Months)</h2>
                <% if (data.monthly.length> 0) { %>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Month</th>
                                <th>Borrow count</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% data.monthly.forEach(data=> { %>
                                <tr>
                                    <td>
                                        <%= data.month %>
                                    </td>
                                    <td>
                                        <%= data.cnt %>
                                    </td>
                                <% }); %>
                        </tbody>
                    </table>
                    <% } else { %>
                        <p>There's no borrowing data for last 12 Months.</p>
                        <% } %>
            </div>
            <div class="card mb-3">
                <h2 class="mb-3">Most Borrowed Categories</h2>
                <% if (data.categories.length> 0) { %>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Category</th>
                                <th>Borrow Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% data.categories.forEach((data)=> { %>
                                <tr>                                   
                                    <td>
                                        <%= data.category_name %>
                                    </td>
                                    <td>
                                        <%= data.cnt %>
                                    </td>                                  
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                    <% } else { %>
                        <p>There's no borrowing data.</p>
                        <% } %>
            </div>
        </main>
    </div>
</body>
</html>
